.button {
    -fx-padding: 0;
}

#botonAldeanoAzul {
    -fx-graphic: url("/vista/imagenes/aldeano_16_azul.png");
}

#botonAldeanoRojo {
    -fx-graphic: url("/vista/imagenes/aldeano_16_rojo.png");
}

#botonCastilloAzul {
    -fx-graphic: url("/vista/imagenes/castillo_azul.png");
}

#botonCastilloRojo {
    -fx-graphic: url("/vista/imagenes/castillo_rojo.png");
}

#botonPlazaCentralAzul {
    -fx-graphic: url("/vista/imagenes/plaza_central_azul.png");
}

#botonPlazaCentralRoja {
    -fx-graphic: url("/vista/imagenes/plaza_central_roja.png");
}

#botonSuelo {
    -fx-graphic: url("/vista/imagenes/suelo.png");
}

#botonArmaDeAsedio {
    -fx-graphic: url("/vista/imagenes/armaDeAsedio.png");
}

#botonArqueroAzul {
    -fx-graphic: url("/vista/imagenes/arquero_16_azul.png");
}

#botonArqueroRojo {
    -fx-graphic: url("/vista/imagenes/arquero_16_rojo.png");
}

#botonCimiento {
    -fx-graphic: url("/vista/imagenes/cimiento.PNG");
}

#botonCuartelRojo {
    -fx-graphic: url("/vista/imagenes/cuartel_rojo.PNG");
}
#botonCuartelAzul {
    -fx-graphic: url("/vista/imagenes/cuartel_azul.PNG");
}

#botonEspadachinAzul {
    -fx-graphic: url("/vista/imagenes/espadachin_16_azul.png");
}

#botonEspadachinRojo {
    -fx-graphic: url("/vista/imagenes/espadachin_16_rojo.png");
}